@model AqaratProject.Models.HomePageModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid" >
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>عرض الحجوزات </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">الحجوزات </a></li>
                    <li class="breadcrumb-item active">عرض الحجوزات </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="card" >
                <div class="card-header">
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                               
                                <th>صيغة العرض  </th>
                                <th>نوع الوحدة العقارية  </th>
                               
                                <th>اسم منطقة الوحدة العقارية  </th>
                                
                                
                              
                              
                            
                                <th>اسم مندوب المبيعات </th>
                                <th>اسم حاجز العرض </th>
                                <th>رقم تليفون حاجز العرض </th>
                                <th>القيمة المالية المتوقعة </th>
                                <th>كاش ام اجل </th>
                                <th>التاريخ</th>
                                <th>حالة بالحجز  </th>

                                <th>تعديل</th>

                             
                               
                                <th>حذف</th>


                                <th>تفعيل الحجز</th>
                              
                             
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lsOfferBooking)
                            {

                                <tr>
                                 
                                   
                                    <td>
                                        @Model.lstOffers.Where(a=> a.OfferId == item.OfferId).FirstOrDefault().OfferSyntax
                                    </td>
                                    <td>
                                        @Model.lstOffers.Where(a=> a.OfferId == item.OfferId).FirstOrDefault().UnitName
                                    </td>
                                    <td>
                                        @Model.lstOffers.Where(a=> a.OfferId == item.OfferId).FirstOrDefault().RegionName
                                    </td>
                                    <td>
                                        @item.SalesRepName
                                    </td>
                                    <td>
                                        @item.CustomerName
                                    </td>
                                    <td>
                                        @item.CustomerPhoneNumber
                                    </td>
                                    <td>
                                        @item.ValueToBePaid
                                    </td>
                                    <td>
                                        @item.CashOrCredit
                                    </td>
                                    <td>
                                        @item.CreatedDate
                                    </td>


                                     <td>
                                        @item.CreatedBy
                                    </td>
                                 
                               


                                   
                                    <td>
                                        <a asp-area="Admin" asp-controller="OfferBooking" asp-action="Form" asp-route-id="@item.OfferBookingId" class="btn btn-info text-white" style="cursor:pointer">
                                            تعديل
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="OfferBooking" asp-action="Delete" asp-route-id="@item.OfferBookingId" class="btn btn-danger text-white" style="cursor:pointer">
                                            حذف
                                        </a>
                                    </td>
                                   
                                    @if (item.CreatedBy != "الحجز فعال") 
                                    {
                                        <td>
                                            <a asp-area="Admin" asp-controller="OfferBooking" asp-action="Form3" asp-route-id="@item.OfferBookingId" class="btn btn-info text-white" style="cursor:pointer">
                                                تفعيل الحجز
                                            </a>
                                        </td>
                                    }
                                   
                                 
                                  


                                </tr>

                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>صيغة العرض  </th>
                                <th>نوع الوحدة العقارية  </th>

                                <th>اسم منطقة الوحدة العقارية  </th>





                                <th>اسم مندوب المبيعات </th>
                                <th>اسم حاجز العرض </th>
                                <th>رقم تليفون حاجز العرض </th>
                                <th>القيمة المالية المتوقعة </th>
                                <th>كاش ام اجل </th>
                                <th>التاريخ</th>

                                <th>حالة بالحجز  </th>
                                <th>تعديل</th>

                               

                                <th>حذف</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
